Django>=4.2,<7.0
djangorestframework
django-cors-headers
dj-database-url
python-dotenv

# Database (PostgreSQL - Neon)
psycopg2-binary

# Auth
djangorestframework-simplejwt

# Media
cloudinary
pillow

# HTTP / API
requests

# Utilities
reportlab
twilio

# Production server
gunicorn

whitenoise