{% extends "base.html" %}
{%block title%}Doctor Availability Add{%endblock%}
{%block content%}

<h2>Add Availability for {{ doctor.name }}</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST">
  {% csrf_token %}

  <label>Day</label>
  <select name="day_of_week">
    <option value="0">Monday</option>
    <option value="1">Tuesday</option>
    <option value="2">Wednesday</option>
    <option value="3">Thursday</option>
    <option value="4">Friday</option>
    <option value="5">Saturday</option>
    <option value="6">Sunday</option>
  </select>

  <label>Start Time</label>
  <input type="time" name="start_time">

  <label>End Time</label>
  <input type="time" name="end_time">

  <button type="submit">Add</button>
</form>

{%endblock%}