
    {%extends 'base.html'%}
    {%block content%}
    <div class="container">
        <h2>Appointment History</h2>
            <table class="table table-bordered  table-hover mt-4">
                <thead >
                    <tr class="thead-dark">
                        <th>Sl no.</th>
                        <th>Patient's name</th>
                        <th>Doctor's Name</th>
                        <th>Department</th>
                        <th>Date</th>
                        <th>Time-slot</th>
                        <th>History</th>

                    </tr>
                </thead>
                <tbody>
                    {%for item in data%}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.user.name}}</td>
                        <td>{{item.doctor.name}}</td>
                        <td>{{item.doctor.department}}</td>
                        <td>{{item.date|date:"F j, Y"}}</td>
                        <td>{{item.time|time:"P"}}</td>
                        <td><a href="{% url 'patient_history' item.user.id %}" class = "btn btn-sm btn-primary">History</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
    </div>
    {%endblock%}