
{% extends "base.html" %}
{%block content%}
    <div class="container">
        <h2 class="text-center mt-3">Appointments for {{selected_date}}</h2>
        <div class= "row">
           
            <form action="" method="get">
              <label>Select Date:</label>
                    <input type="date" name="date" value="">
                    
                    <button type="submit">Filter</button>
            </form>
   
        <div class="row mt-2">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Patient's name</th>
                        <th>Doctor</th>
                        <th>Department</th>
                        <th>Time-slot</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {%if appointment%}
                        {%for app in appointment%}
                    <tr>
                  
                        <td>{{app.user.name}}</td>
                        <td>{{app.doctor.name}}</td>
                        <td>{{app.doctor.department}}</td>
                        <td>{{app.date|date:"D M, d"}}</td>
                        <td>{{app.time|time:"P"}}</td>
                    </tr>
                        {%endfor%}
                </tbody>
                </table>
                
                        
                    {%else%}
                    <table>
                        <tr>
                        <th class="text-center mt-3">No Appointments found for this date</th></td>
                        </tr>
                    </table>
                        {%endif%}
                </tbody>
            </table>

            <h3>Upcoming Appointment</h3>
            {%if upcoming_appointments%}
            <table class="table table-bordered">
                <thead>
                    <tr>
              
                        <th>Patient's name</th>
                        <th>Doctor</th>
                        <th>Department</th>
                        <th>Time-slot</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {%for app in upcoming_appointments%}
                    <tr>
              
                        <td>{{app.user.name}}</td>
                        <td>{{app.doctor.name}}</td>
                        <td>{{app.doctor.department}}</td>
                        <td>{{app.date|date:"D M, d"}}</td>
                        <td>{{app.time|time:"P"}}</td>
                    </td>
                    {%endfor%}
                </tbody>
            </table>
            {%else%}
            <p>No upcoming appointments.</p>
            {%endif%}

            <h3>Past Appointments</h3>
            {%if past_appointments%}
            <table class="table table-striped table-bordered">
                <thead>
                     <tr>
                        <th>Patient's name</th>
                        <th>Doctor</th>
                        <th>Department</th>
                        <th>Time-slot</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {%for app in past_appointments%}
                    <tr>
                     
                        <td>{{app.user.name}}</td>
                        <td>{{app.doctor.name}}</td>
                        <td>{{app.doctor.department}}</td>
                        <td>{{app.date|date:"D M, d"}}</td>
                        <td>{{app.time|time:"P"}}</td>
                    </td>
                    {%endfor%}
                </tbody>
            </table>
            {%else%}
            <p>No past appointments.</p>
            {%endif%}
        </div>
    </div>

{%endblock%}         
